// ================================== //
//    #STYLE GUIDE
//
// Contains CSS used by styleguide, not included in screen.css
// ================================== //

// Sass functions
@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use 'sass:string';

// Utilities
@import 'breakpoint-sass/stylesheets/breakpoint';
@import 'sanitize.css/sanitize';
@import 'sanitize.css/forms';

// Import only partials required by this stylesheet
@import '0_utility/mixins/*';
@import '0_utility/settings/*';
@import '0_utility/helpers/*';
@import '1_core/grid';

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2em;
}

.styleguide {
  @supports (display: grid) {
    display: grid;
  }

  main,
  pre {
    overflow-x: auto;
  }
}

.global-footer {
  margin-top: auto;
}

.section-edge {
  padding: 6rem 0;
}

.color-palette {
  @include list-unstyled;
  display: grid;
  gap: $spacing-unit;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  padding: 0;

  li {
    align-items: center;
    aspect-ratio: 1/1;
    display: flex;
  }
}

.color-swatch {
  display: grid;
  height: 100%;
  padding: 1em;
  place-content: center;
  text-align: center;
  width: 100%;

  &__label {
    text-transform: capitalize;
  }

  &__value {
    font-family: monospace;
    text-transform: uppercase;
  }

  // Generate color swatch classes for each value in flattened $palettes map
  @each $color, $value in $color-map {
    &--#{"" + $color} {
      background-color: $value;
      border: 1px solid color-contrast($value);
      color: color-contrast($value);
    }
  }
}

.icons {
  @include list-unstyled;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 18rem));
  padding: 0;

  li {
    align-items: center;
    aspect-ratio: 1/1;
    display: flex;
    flex-flow: column;
    padding: 1vw;

    .label {
      word-wrap: break-word;
    }
  }
}


.template-listing {
  ul {
    display: flex;
    flex-flow: row wrap;
    gap: $spacing-unit;
    list-style-type: none;
    margin: 0 0 3rem;
    padding: 0;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }
  }

  li {
    flex: 1 1 auto;
    flex-basis: calc(1 / 4 * 90%);
    padding-left: $spacing-unit;
  }

  .template {
    min-height: 6rem;
    padding: $spacing-unit;

    // &.not-started {}

    &.in-progress {
      background-color: #f4f4f4;
    }

    // &.completed {}
  }

  span {
    display: inline-block;
    font-size: 1.2rem;
    margin: .5rem;
  }

  .status-icon {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    margin-right: .5em;
    overflow: visible;
    vertical-align: -.125em;
    width: 1em;
  }
}

#section-nav {
  font-size: .9em;

  ul {
    @include list-inline-block;
  }

  li {
    &:not(:last-child) {
      border-right: 1px solid;
      padding: 0 .5em 0 .25em;
    }
  }
}
