// ================================== //
//    #CORE/HTML - PAGE
// ================================== //

* {
  box-sizing: border-box; // establishes border-box model for all elements
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%); // Remove default tappable touch color in iOS
  word-wrap: normal;
}

:root {
  position: relative;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

html {
  font-size: 62.5%; // Sets up the Base 10 stuff
}

body {
  @include font-size(16, 24);
  @include web-font($sans);
  background-color: $white;
  font-family: $system-sans;
  overflow-x: hidden;
}
