.example-card-container {
  @include breakpoint($tablet) {
    display: grid;
    gap: $spacing-unit;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto; // must define all potential rows
  }
}
