{# _styleguide.twig #}
{% extends '@includes/1_core/layout.twig' %}

{% set cssLinks = ["styles/style-guide.css"]%}
{% set title = 'Base Style Guide' %}
{% set bodyClass = 'styleguide' %}

{% block page %}
  {% include '@includes/1_core/style-guide.twig' %}
{% endblock %}
