{# index.twig #}
{% extends '@includes/1_core/layout.twig' %}
{% set cssLinks = ['styles/style-guide.css'] %}

{% block page %}
  <div class="wrapper">
    <h1>{{ title }}</h1>

    <div class="template-listing">
      <p>Key</p>
      <ul>
        <li>{% include "@includes/2_pieces/icon.twig" with { class: 'status-icon', icon: 'square' } %} = Not Started</li>
        <li>{% include "@includes/2_pieces/icon.twig" with { class: 'status-icon', icon: 'spinner' } %} = In Progress</li>
        <li>{% include "@includes/2_pieces/icon.twig" with { class: 'status-icon', icon: 'check-square' } %} = Complete</li>
      </ul>

      <h2>Layouts</h2>
      <ul>
        {% for item in templates %}
          <li class="template {{ item.status }}" {% if item.status and item.status == 'not-started' %} aria-hidden="true"{% endif %}>
            {% if item.status %}
              {% set itemIcon = null %}

              {% if item.status == 'not-started' %}
                {% set itemIcon = 'square' %}
              {% elseif item.status == 'in-progress' %}
                {% set itemIcon = 'spinner' %}
              {% elseif item.status == 'complete' %}
                {% set itemIcon = 'check-square' %}
              {% endif %}

              {% include "@includes/2_pieces/icon.twig" with { class: "status-icon " ~ item.status, icon: itemIcon } only %}
            {% endif %}

            {% if item.url is not defined %}
              <p>{{ item.title }}</p>
            {% elseif item.datestamped %}
              {% set href = item.url|replace({ '%date%': 'now'|date('Y-m-d') }) %}
              <a href="{{ href }}">{{ item.title }}</a>
            {% else %}
              <a href="{{ item.url }}" {% if item.external %} target="_blank" rel="noopener"{% endif %}>{{ item.title }}</a>
            {% endif %}

            {% if item.variation and item.variation != '#' %}
              <div>
                <small>
                  Variations:
                  {% for inneritem in item.variation %}
                    {% if not loop.first %} | {% endif %}
                    <a href="{{ inneritem.link }}" target="_blank" rel="noopener">{{ inneritem.text }}</a>
                  {% endfor %}
                </small>
              </div>
            {% endif %}

            {% if item.desktop and item.desktop != '#' or item.mobile and item.mobile != '#'%}
              <div>
                <small>
                  Designs: {% if item.desktop and item.desktop != '#' %}<a href="{{ item.desktop }}" target="_blank" rel="noopener">desktop</a>{% endif %}
                  {% if item.mobile and item.mobile != '#' %}| <a href="{{ item.mobile }}" target="_blank" rel="noopener">mobile</a>{% endif %}
                </small>
              </div>
            {% endif %}

            {% if item.wireframe and item.wireframe != '#' %}
              <div>
                <small>
                  <a href="{{ item.wireframe }}" target="_blank" rel="noopener">Wireframe</a>
                </small>
              </div>
            {% endif %}

            {% if item.annotations and item.annotations != '#' %}
              <div>
                <small>
                  <a href="{{ item.annotations }}" target="_blank" rel="noopener">Functional Annotations</a>
                </small>
              </div>
            {% endif %}

          </li>
        {% endfor %}
      </ul>

      <h2>Utility</h2>
      <ul>
        {% for item in utilityLinks %}
          <li><a href="{{ item.link }}" {% if item.external == true %}target="_blank" rel="noopener"{% endif %}> {{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% include "@images/icon-sprite--styleguide.svg" %}
{% endblock %}
